.sub-header {
  --background: #ffffff;
  width: 375px;
  height: 60px;
  list-style: none;
 
}

.font-color{
  --color: white;
}
.header {
  height: 56px;
  width: 375px;
}

.title {
  text-align: center;
  /* margin-top: -34px; */
  width: 375px;
  height: 35px;
  top: 5px;
  left: -20px;
  color: white;
  font-family: Robotoregular ;
  font-size: 24px;
}
ion-image {
  height: 46px;
  width: 129.75628662109375px;
  left: 0.099395751953125px;
  top: 0.0430908203125px;
  border-radius: 0px;
}

.back-button{
  height: 20px;
  width: 20px;
  left: 5px;
  top: 5px;
  border-radius: 0px;
  
}

.repair-btn {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: Robotoregular ;
  position: absolute;
  width: 160px;
  height: 44px;
  /* right: 18px; */
  margin-left: 15px;
  top: 0px;
  border: 1px solid #007dba;
  --background: white;
  --color: #007dba;
}
.edit-btn {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: Robotoregular ;
  position: absolute;
  --border-radius:0%;
  width: 160px;
  height: 44px;
  /* left: 18px; */
  margin-right: 15px;
  top: 0px;
  --background: #007dba;
  --color:#fff;
}
ion-footer {
  color: white;
  /* --ion-background-color: #007dba; */
  font-family: Robotoregular;
  --ion-text-color: #ffffff;
  color: #ffff;
  height: 75px;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px; 
  text-align: center;
  position: absolute;
  top: 91.50%;
  background: #007dba;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);

}

ion-content{
  width: 100%;
}
.warning {
  color: yellow;
  height: 23px;
width: 23.583776473999023px;
left: 2px;
top: 2.4581298828125px;
border-radius: 0px;
}
.icons-ios{
  height: 23px;
  width: 23.583776473999023px;
  left: 2px;
  top: 2.4581298828125px;
  border-radius: 0px;
}
.size-ios{
  font-family: Robotoregular;
  font-size: 14px;
  margin-top: 0px;
  --ion-text-color: #ffffff;
  color: #ffff;
  margin-left: 10px;
  margin-top: 15px;
  left: 6px;
}

ion-item {
  width: 100%;
  font-family: Robotoregular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  left: 0px;

}

ion-label {
position: absolute;
height: 24px;
left: 0px;
font-family: Robotoregular;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 23px;
letter-spacing: 0px;
text-align: left;
width: 201px;
top: 3px;
}

.camera {
border-radius: 0px;
height: 24px;
width: 24px;
margin-left: 315px;
margin-top: -1.5px;
border-radius: 0px;


}
.image {
  width: 100%;
  height: 121px;
  left: 0px;
  /* top: 20px; */
  margin-top: -13px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}
.image-col {
  width: 120px;
  height: 100px;
  margin-left: 2px;
  margin-top: 2px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}


.swiper-pagination-bullet {
  --bullet-background: #00a0be;
  height: 10px;
  width: 10px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  margin-left: 5px;
  margin-top: -15px;
  text-align: center;
}

.swiper-pagination-bullet-active {
  height: 10px;
  width: 10px;
  --bullet-background: transparent;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 5% !important;
}

.ion-img{
  height: 46px;
  width: 129.75628662109375px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  
}

.breadcrumb { 
  list-style: none; 
  font-family: Robotobold;
  overflow: hidden; 
  font: 22px;
  margin-top: -2px;
  margin-left: -42px;
  /* font-size: 22px; */
  
}
.breadcrumb li { 
  float: left; 
}
.breadcrumb li a {
  color: white;
  font-family: Robotobold;
  text-decoration: none; 
  padding: 10px 0 13px 41px;
  background: #007DBA; /* fallback color */
  background: #007DBA; 
  position: relative; 
  display: block;
  float: left;
  left: 0;
}

.breadcrumb li a::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #007DBA;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 99%;
  z-index: 2; 
}

.breadcrumb li a::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.breadcrumb li:first-child a {
  padding-left: 10px;
}
.breadcrumb li:nth-child(2) a       { background:        #007DBA; }
.breadcrumb li:nth-child(2) a:after { border-left-color: #007DBA; }
.breadcrumb li:nth-child(3) a       { background:        #007DBA; }
.breadcrumb li:nth-child(3) a:after { border-left-color: #007DBA; }
.breadcrumb li:nth-child(4) a       { background:        #007DBA; }
.breadcrumb li:nth-child(4) a:after { border-left-color: #007DBA; }

.shadow {
  border-top: 1px solid rgba(0, 0, 0, 0.54);
}
/* .shadow-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
} */
.ion-text-start{
  text-align: center;
  margin-left: 150px;
  margin-right: 132px;
  
  
}

.toolbar-ios{
  padding-top: env(safe-area-inset-top);
  --background: rgba(0, 125, 186, 1);   
}
