.carName {
  font-family: Robotomedium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: block;
  color: #000000;
}
.repairs {
  font-family: Robotomedium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: block;
  padding-top: 8px;
  /* identical to box height, or 133% */
color:#8A929D;
  letter-spacing: 0.14px;
  position: relative;
  margin-top: -2px;
}
.repairs-date{
  margin-top: 10px;
  padding-top: 5px;
}
.cars-list-left {
  width: 50%;
}
.cars-list-right {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.cars-list {
    justify-content: space-between;
    margin-bottom: 7px;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}
.add-repair {
  height: 32px;
  margin-top: 4px;
}

.btn-addcar {
  height: 44px;
  background-color: #007dba;
  color: white;
  width: 48%;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.btn-reorder {
  height: 44px;
  background-color: transparent;
  border: 1px solid #007dba;
  width: 48%;
  color: #007dba;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.footer-btns {
  display: flex;
  padding: 0 5px;
  margin-bottom: 10px;
  width: 100%;
}
.cars-footer {
  background-color: white;
  padding: 10px 20px 0 20px;
}
.p-0 {
  --padding-start: 0 !important;
}
.active-car{
  --background: rgba(0, 125, 186, 1);
  background: rgba(0, 125, 186, 1);
  --color: white !important;
  margin-top: -7px;
  padding-top: 7px;
  /* height: auto; */
}
.active-car .carName, .active-car .repairs {
  --color: white !important;
  color: white;
}
.invisible {
  visibility: hidden;
}
.reorder-container {
  position: absolute;
  z-index: 99;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}