
  .breadcrumb-title {
    font-family: Robotobold;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14px;
    color: #ffffff;
  }
  .ion-breadcrumb-header::after {
    background-image:none;
  }
  .ion-breadcrumb-header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  } */

  .cardetail-sub-header {
    --background: #ffffff;
    width: 100%;
    height: 62px;
    list-style: none;
  }
 
.cardetail-breadcrum-1stimage {
  height: 46px;
  width: 128.75628662109375px;
  margin-left: -10px;
  top: 0px;
  border-radius: 0px;
}
.cardetail-location-breadcrum {
  position: absolute;
  width: 100%;
  height: 16px;
  left: 12px;
  top: 8%;
  font-family: Robotoregular;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14px;
  color: #ffffff;
}
.cardetail-quest1-breadcrum {
  position: absolute;
  left: 12px;
  top: 48%;
  font-family: Robotobold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.cardetail-breadcrum-2ndback-images {
  height: 46px;
  width: 130.75628662109375px;
  margin-left: -8px;
  top: 0.0430908203125px;
  border-radius: 0px;
}
.cardetail-Track-breadcrum {
  position: absolute;
  top: 8%;
  bottom: 58.18%;
  width: 100%;
  height: 16px;
  font-family: Robotoregular;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14px;
  color: #ffffff;
  padding-left: 20%;
}
.cardetail-Track1-bold-breadcrum {
  position: absolute;
  width: 100%;
  top: 48%;
  bottom: 16.36%;
  font-family: Robotobold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 20%;
}

.cardetail-breadcrum-3rd-back-images {
  height: 48px;
  width: 129.75628662109375px;
  margin-left: -8px;
  margin-top: 0px;
  border-radius: 0px;
  margin-right: -6px;
}

.cardetail-Cars-breadcrum {
  position: absolute;
  width: 100%;
  top: 8%;
  bottom: 58.73%;
  font-family: Robotoregular;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14px;
  color: #ffffff;
  padding-left: 20%;
}

.cardetail-carnumber-breadcrum {
  position: absolute;
  width: 100%;
  top: 48%;
  bottom: 10.95%;
  font-family: Robotobold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 20%;
}

.cardetail-all-backbreadrum-images {

  background-color: rgba(0, 125, 186, 1);
  left: 0px;
  max-width: 35%;
  min-width: 32%;
  height: 100%;

}

.first-breadcrum {
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
}

.next-breadcrum {
  margin-left: -2%;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%);
}

.breadcrum-row {
  height: 46px;
  width: 100%;
}

.breadcrum-grid {
  margin-top: 2px;
  margin-bottom: 2px;
}

.cardetail-viewrepair-btn {
  height: 44px;
  background-color: #007dba;
  color: white;
  text-transform: capitalize;
  width: 50%;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  font-family: Robotobold;
  --background: #007dba;
  --color: #fff;
  margin-top: -20px;
}