.ion-datepicker-btn {
  border: 1px solid #C7D4DD;
  height: 44px;
  position: relative;
  /* --padding-end: 0;
  --padding-start: 0;
  margin-left: 3px;
  margin-right: 3px; */
}
.ion-custom-datepicker{
  --padding-end: 0;
  --padding-start: 0; 
  margin: 0;
}
.ion-datepicker-inner-btn {
  margin-left: -10px;
  color: #000000;
  position: absolute;
  right: -10px;
}
.ion-datepicker-inner-btn-icon {
  height: 24px;
  width: 24px;
  margin-left: 100px;
}
.ion-datepicker-inputBtn {
  position: absolute;
  left: 0;
  right: 0;
}
.ion-datepicker-input {
  text-align: left;
  font-family: Robotomedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.my-custom-popover {
  --width: 80%;
}
.ion-item-btn {
  --border-width: 0;
  --padding-start: 0;
  --padding-end:0;
  --ripple-color: transparent;
}
.ion-item-btn-label{
  --border-width: 0;
  --padding-start: 0;
  --padding-end:0;
  display: flex !important;
  align-items: center;
  width: 100%;
  justify-content: end;
  margin-right: 0;
}
.ml-8{
  margin-left: 8px;
}
.ion-cars-label {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: Robotomedium !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: #57657a !important;
}
.ion-cars-label .required {
  text-transform: capitalize !important;

}
.add-car-statusCard {
  background: #ffffff;
  box-shadow: 0px 6px 6px rgba(29, 46, 64, 0.1),
    0px 0px 6px rgba(29, 46, 64, 0.1);
  padding: 10px 15px 0 21px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  /* height: 210px; */
  min-height: 10px;
}
.add-car-statusCard-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  /* Light UI/Primary */
  color: #000000;
  margin-left: 8px;
}
.add-car-checkbox {
  --background-checked: #007DBA;
  --border-color: #007DBA;
  --border-color-checked:#66B1D5;
  --border-radius:15px;
}
.ion-header {
  background-color: #267dba;
  color: #fff;
  height: 56px;
}
.ion-breadcrumb-header::after {
  background-image:none;
}
.ion-breadcrumb-header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}
.ion-header-toolbar {
  --background: #267dba;
  --color: #fff;
  min-height: 56px;
  padding-left: 17px;
  display: flex;
    align-items: center;
}
.breadcrumbs {
  overflow: hidden;
  list-style-type: none;
  width: 100%;
  padding-left: 5px;
  margin: 5px 0;
}
.breadcrumbs li {
  float: left;
  margin: 0 0.5em 0 2em;
}
.breadcrumbs li:first-child {
  margin-left: 0;
}
.breadcrumbs li:first-child a::before {
  display: none;
}

.breadcrumbs a {
  background-color: #007DBA;
  color: #fff;
  padding: 0.3em 1em;
  float: left;
  text-decoration: none;
  position: relative;
}
.breadcrumbs a p {
  margin: 0;
}

.breadcrumbs a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2em;
  border-width: 2em 0px 2em 2em;
  border-style: solid;
  border-color: #267dba #267dba #267dba transparent;
  left: -1.9em;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2em;
  border-top: 2em solid transparent;
  border-bottom: 2em solid transparent;
  border-left: 2.5em solid #267dba;
  right: -1.9em;
}

.breadcrumbs a:hover::after {
  border-left-color: #267dba;
}
.breadcrumb-text {
  font-family: Robotomedium;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  color: #ffffff;
}
.breadcrumb-title {
  font-family: Robotobold;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.14px;
  color: #ffffff;
}
.cars-title {
  margin-left: 35px;
  font-family: Robotoregular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height, or 146% */
  color: #ffffff;
}
.back-btn {
  width: 30px;
  height: 30px;
  /* margin-left: 12px; */
}

.add-car-toggle {
  --background:#CCE5F1;
  --background-checked: #66B1D5;
  --handle-background-checked: #66B1D5;
  --handle-height: 20px;
  --handle-width: 20px;
}
.ion-selectdropdown{width: 50px;
  height: 18px;
  opacity: 100;
}
.mb-10{
  margin-bottom: 10px;
}
.searchbar-input{
  display: block !important;
  width: 100% !important;
}
.h-auto{
  height: auto !important;
}
.search-results {
  background: #FFFFFF;
/* Light UI/Elevation/M */

box-shadow: 0px 6px 6px rgba(29, 46, 64, 0.1), 0px 0px 6px rgba(29, 46, 64, 0.1);
margin-top: 7px;
padding: 10px;
}