.ion-datepicker-btn {
  border: 1px solid #c7d4dd;
  height: 44px;
  position: relative;
  caret-color:black;
  /* --padding-end: 0;
  --padding-start: 0;
  margin-left: 3px;
  margin-right: 3px; */
}
.ion-datepicker-btn.has-focus{
  border: 1px solid #007dba;
}
.ion-custom-datepicker{
  --padding-end: 0;
  --padding-start: 0; 
  margin: 0;
  position: relative;
}
.ion-datepicker-inner-btn {
  margin-left: -17px;
  color: #000000;
  position: absolute;
  right: -10px;
  line-height: 35px;
}
.ion-datepicker-inner-btn-icon {
  height: 24px;
  width: 24px;
  margin-left: 100px;
}
.ion-datepicker-inputBtn {
  position: absolute;
  left: 0;
  right: 0;
}
.ion-datepicker-input {
  text-align: left;
  font-family: Robotomedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.my-custom-popover {
  --width: 80%;
}
.ion-item-toggle-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -12px;
}
.ion-item-toggle-btn .ion-cars-label, .ion-item-toggle-btn .ion-item-btn-label {
  margin-top: 0;
  /* margin-bottom: 0; */
}
.ion-item-btn {
  --border-width: 0;
  --padding-start: 0;
  --padding-end:0;
  --ripple-color: transparent;
  --ion-safe-area-right: 0;
}

.ion-item-btn-label{
  --border-width: 0;
  --padding-start: 0;
  --padding-end:0;
  display: flex !important;
  align-items: center;
  justify-content: end;
  margin-right: 0;
}
.ml-8{
  margin-left: 8px;
}
.ion-cars-label {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: Robotomedium !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.14px;
  color: #57657a !important;
}
.ion-cars-label .required {
  text-transform: capitalize !important;

}
.add-car-statusCard {
  background: #ffffff;
  box-shadow: 0px 6px 6px rgba(29, 46, 64, 0.1),
    0px 0px 6px rgba(29, 46, 64, 0.1);
  padding: 10px 15px 0 21px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  /* height: 210px; */
  min-height: 10px;
}
.add-car-statusCard-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  /* Light UI/Primary */
  color: #000000;
  margin-left: 8px;
}
.add-car-checkbox {
  --background:transparent;
  --background-checked: #007dba;
  --border-color: #007dba;
  --border-color-checked:#66b1d5;
  --border-radius:15px;
  margin: 0;
}
.ion-header {
  background-color: #267dba;
  color: #fff;
  height: 56px;
}

.ion-header-toolbar {
  --background: #267dba;
  --color: #fff;
  min-height: 56px;
  padding-left: 17px;
  display: flex;
    align-items: center;
}

.cars-title {
  margin-left: 35px;
  font-family: Robotoregular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height, or 146% */
  color: #ffffff;
}
.back-btn {
  width: 30px;
  height: 30px;
  /* margin-left: 12px; */
}

.add-car-toggle {
  --handle-background:#CCE5F1;
  --background:#CCE5F1;
  --background-checked: #66B1D5;
  --handle-background-checked: #66B1D5;
  --handle-height: 20px;
  --handle-width: 20px;
}
.ion-selectdropdown{width: 50px;
  height: 18px;
  opacity: 100;
}
.mb-10{
  margin-bottom: 10px;
}
/* .searchbar-input{
  display: block !important;
  width: 100% !important;
  height: 44px;
} */
.clear-input{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.h-auto{
  height: auto !important;
}
.search-results {
  background: #FFFFFF;
/* Light UI/Elevation/M */

box-shadow: 0px 6px 6px rgba(29, 46, 64, 0.1), 0px 0px 6px rgba(29, 46, 64, 0.1);
margin-top: 7px;
padding: 10px;
}