
.ion-header {
    background-color: #267dba;
    color: #fff;
}
.ion-header-toolbar {
    --background:#267dba;
    --color: #fff;
}
.ion-col-item:not(:last-child){
    border-bottom: 2px solid #e1e1e1;
}
.btn-save{
    height: 40px;
    background-color: #267dba;
    color: #fff;
    width: 48%;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
/* Light UI/Main */
color: #FFFFFF;
}
.btn-save:disabled{
    color: #C7D4DD;
    background-color: transparent;
    border: 1px solid  #C7D4DD;
}
.btn-cancel{
    height: 40px;
    background-color: transparent;
    border: 1px solid #267dba;
    width: 48%;
    color: #007DBA;
}
.footer-btns {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
    width: 100%;
}
.ion-footer {
    background-color: #fff;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.54);
}
.ion-breadcrumb-header{
    background-color: #fff;
    /* padding-bottom: 7px; */
    margin-bottom: 7px;
}