.ion-header {
  background-color: #267dba;
  color: #fff;
}
.ion-header-toolbar {
  --background: #267dba;
  --color: #fff;
}
.ion-col-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}
.ion-col-item{
  padding-bottom:12px;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-save {
  height: 44px;
  background-color: #267dba;
  color: #fff;
  width: 50%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* Light UI/Main */
  color: #ffffff;
  font-family: Robotomedium;
}
.btn-save:disabled {
  color: #c7d4dd;
  background-color: transparent;
  border: 1px solid #c7d4dd;
  font-family: Robotomedium;
  height: 44px;
  font-size: 16px;
  text-align: center;
  margin-left: -3px;
  width: 48%;
}
.btn-cancel {
  height: 44px;
  background-color: transparent;
  border: 1px solid #267dba;
  width: 48%;
  color: #007dba;
  font-family: Robotomedium;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  margin-left: -2px;
}
.footer-btns {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 100%;
  font-family: Robotomedium;
  height: 44px;
  font-size: 16px;
  text-align: center;
}
.ion-footer {
  background-color: #fff;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.54);
}
.ion-breadcrumb-header {
  background-color: #fff;
  /* padding-bottom: 7px; */
  margin-bottom: 7px;
}

